<!-- Use if you want to show previous and next for all posts. -->
{% assign user_url = site.url | append: site.baseurl %}
{% assign full_base_url = user_url | default: site.github.url %}
{% if page.previous.url %}
  <div class="col-5 sm-width-full left mr-lg-4 mt-3">
    <a class="py-1 block" href="{{ page.previous.url | prepend: full_base_url }}">
      <span>Previous article</span>
      <p class="bold h5 lh-condensed mb-1">{{ page.previous.title }}</p>
    </a>
  </div>
  {% endif %}
  {% if page.next.url %}
  <div class="col-5 sm-width-full left mt-3">
    <a class="py-1 block" href="{{ page.next.url | prepend: full_base_url }}">
      <span>Next article</span>
      <p class="bold h5 lh-condensed mb-1">{{ page.next.title }}</p>
    </a>
  </div>
{% endif %}
