// Pink theme

// Colour variables
$black: #2b2d42;
$gray-dark: #274c77;
$gray-light: #e7ecef;
$linen: #f9ebe2;
$hot-pink: #ff00b3;

// Config
$color-background: $linen !default;
$color-foreground: $black !default;
$color-title: $black !default;
$color-body-text: $black !default;
$color-text-accent: $gray-dark !default;
$color-code: $gray-dark !default;
$color-nav-link: $black !default;
$color-primary-link: $black !default;
$color-primary-underline: $hot-pink !default;
$color-border: $hot-pink !default;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
